<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Bucket-list | Register </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/animate/vendor.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sweetalert/sweetalert.css') }}">
    </head>

    <body>
        <div class="auth">
            <div class="auth-container">
                <div class="card">
                    <header class="auth-header">
                        <h1 class="auth-title">
                            BUCKET-LIST
                        </h1>
                    </header>
                    <div class="auth-content">
                        <form id="signup" method="POST" onsubmit="return false">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control underlined" name="username" id="username" placeholder="Enter username">
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control underlined" name="password" id="password" placeholder="Enter password">
                            </div>

                            <div class="form-group">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" class="form-control underlined" name="confirm_password" id="confirm_password" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                                <button type="submit" onclick="signUp()" class="btn btn-block btn-primary">Sign Up</button>
                            </div>

                            <div class="form-group">
                                <p class="text-muted text-xs-center">Already have an account?
                                    <a href="{{ url_for('login') }}">Login!</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='plugins/animate/vendor.js')}}"></script>
        <script src="{{ url_for('static', filename='plugins/sweetalert/sweetalert.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
    </body>

</html>