@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600);

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #4f5f6f;
  overflow-x: hidden; }

.header {
  background-color: #d7dde4;
  height: 70px;
  position: absolute;
  left: 230px;
  right: 0;
  -webkit-transition: left 0.3s ease;
          transition: left 0.3s ease;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 991px) {
    .header {
      left: 0; } }
  @media (max-width: 767px) {
    .header {
      left: 0;
      height: 50px; } }
  .header-fixed .header {
    position: fixed; }
  @media (max-width: 767px) {
    .header .header-block {
      padding: 5px; } }

.auth {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #667380;
  overflow-x: hidden;
  overflow-y: auto; }

.auth-container {
  width: 450px;
  min-height: 330px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%); }
  .auth-container .auth-header {
    text-align: center;
    border-bottom: 1px solid #52BCD3; }
  .auth-container .auth-title {
    color: #97A4B1;
    padding: 20px;
    line-height: 30px;
    font-size: 26px;
    font-weight: 600;
    margin: 0; }
  .auth-container .auth-content {
    padding: 30px 50px;
    min-height: 260px; }

@media (max-width: 767px) {
  .auth-container {
    width: 100%;
    position: relative;
    left: 0;
    top: 0;
    -webkit-transform: inherit;
            transform: inherit;
    margin: 0;
    margin-bottom: 10px; }
    .auth-container .auth-content {
      padding: 30px 25px; } }

label,
.control-label {
  font-weight: 600; }

.form-control.underlined {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #d7dde4; }
  .form-control.underlined.indented {
    padding: .375rem .75rem; }
  .has-error .form-control.underlined:focus,
  .has-warning .form-control.underlined:focus,
  .has-success .form-control.underlined:focus, .form-control.underlined:focus {
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #52BCD3; }
  .has-error .form-control.underlined {
    box-shadow: none;
    border-color: #FF4444; }
  .has-warning .form-control.underlined {
    box-shadow: none;
    border-color: #fe974b; }
  .has-success .form-control.underlined {
    box-shadow: none;
    border-color: #4bcf99; }

.main-wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden; }

.app {
  position: relative;
  width: 100%;
  padding-left: 230px;
  min-height: 100vh;
  margin: 0 auto;
  left: 0;
  background-color: #f0f3f6;
  box-shadow: 0 0 3px #ccc;
  -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
          transition: left 0.3s ease, padding-left 0.3s ease;
  overflow: hidden; }
  .app .content {
    padding: 95px 20px 75px 20px;
    min-height: 100vh; }
    @media (min-width: 1200px) {
      .app .content {
        padding: 105px 40px 85px 40px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .app .content {
    padding: 100px 35px 80px 35px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .app .content {
    padding: 95px 20px 75px 20px; } }
    @media (max-width: 767px) {
      .app .content {
        padding: 70px 20px 70px 20px; } }
  @media (max-width: 991px) {
    .app {
      padding-left: 0; } }
  @media (max-width: 991px) {
    .app.sidebar-open {
      left: 0; } }
  .app.blank {
    background-color: #667380; }


.header .header-block-buttons {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap; }
  .header .header-block-buttons .btn.header-btn {
    background-color: transparent;
    border: 1px solid #64798d;
    color: #64798d;
    margin: 0 5px;
    border-radius: 0.2rem; }
    .header .header-block-buttons .btn.header-btn:hover, .header .header-block-buttons .btn.header-btn:focus {
      border: 1px solid #3a4651;
      color: #3a4651; }
    @media (max-width: 767px) {
      .header .header-block-buttons .btn.header-btn span {
        display: none; } }

.header .header-block-collapse {
  padding-right: 5px; }
  @media (max-width: 767px) {
    .header .header-block-collapse {
      width: 155px; } }
  .header .header-block-collapse .collapse-btn {
    background: none;
    border: none;
    box-shadow: none;
    color: #52BCD3;
    font-size: 24px;
    line-height: 40px;
    border-radius: 0;
    outline: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: initial; }

.header .header-block-nav {
  margin-left: auto;
  white-space: nowrap;
  padding-right: 15px; }
  @media (max-width: 767px) {
    .header .header-block-nav {
      padding-right: 25px; } }
  .header .header-block-nav::after {
    content: "";
    display: table;
    clear: both; }
  .header .header-block-nav a {
    text-decoration: none; }
  .header .header-block-nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .header .header-block-nav > ul {
    display: table; }
  .header .header-block-nav > ul > li {
    display: table-cell;
    position: relative; }
    .header .header-block-nav > ul > li:before {
      display: block;
      content: " ";
      width: 1px;
      height: 24px;
      top: 50%;
      margin-top: -12px;
      background-color: #8b9cb1;
      position: absolute;
      left: 0; }
    .header .header-block-nav > ul > li:first-child:before {
      display: none; }
  .header .header-block-nav > ul > li > a {
    padding: 0 15px;
    color: #4f5f6f; }
    .header .header-block-nav > ul > li > a:hover {
      color: #52BCD3; }
  .header .header-block-nav .dropdown-menu {
    margin-top: 15px; }

.header .header-block-search {
  margin-right: auto;
  padding-left: 20px; }
  @media (max-width: 767px) {
    .header .header-block-search {
      padding-left: 10px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .header .header-block-search {
    padding-left: 20px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .header .header-block-search {
    padding-left: 20px; } }
  @media (min-width: 1200px) {
    .header .header-block-search {
      padding-left: 35px; } }
  .header .header-block-search > form {
    float: right; }
    @media (max-width: 767px) {
      .header .header-block-search > form {
        padding-left: 0; } }
  .header .header-block-search .input-container {
    position: relative;
    color: #7e8e9f; }
    .header .header-block-search .input-container i {
      position: absolute;
      pointer-events: none;
      display: block;
      height: 40px;
      line-height: 40px;
      left: 0; }
    .header .header-block-search .input-container input {
      background-color: transparent;
      border: none;
      padding-left: 25px;
      height: 40px;
      max-width: 150px; }
      @media (max-width: 767px) {
        .header .header-block-search .input-container input {
          max-width: 140px; } }
    .header .header-block-search .input-container input:focus + .underline {
      -webkit-transform: scaleX(1);
              transform: scaleX(1); }

.sidebar {
  background-color: #3a4651;
  width: 230px;
  padding-bottom: 60px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: left 0.3s ease;
          transition: left 0.3s ease;
  z-index: 20; }
  @media (max-width: 991px) {
    .sidebar {
      position: fixed;
      left: -230px; } }
  .sidebar-fixed .sidebar {
    position: fixed; }
  .sidebar-open .sidebar {
    left: 0; }
  .sidebar .sidebar-container {
    position: absolute;
    top: 0;
    bottom: 51px;
    width: 100%;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden; }
    .sidebar .sidebar-container::-webkit-scrollbar-track {
      background-color: #2c353e; }
  .sidebar .nav {
    font-size: 14px; }
    .sidebar .nav li a:focus,
    .open .sidebar .nav li a:focus {
      background-color: inherit; }
    .sidebar .nav ul {
      padding: 0;
      height: 0px;
      overflow: hidden; }
      .loaded .sidebar .nav ul {
        height: auto; }
    .sidebar .nav li.active ul {
      height: auto; }
    .sidebar .nav li a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none; }
    .sidebar .nav li a:hover,
    .sidebar .nav li.open > a,
    .sidebar .nav li.open a:hover {
      color: #ffffff;
      background-color: #2d363f; }
    .sidebar .nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 10px; }
    .sidebar .nav > li.active > a,
    .sidebar .nav > li.active > a:hover {
      background-color: #52BCD3 !important;
      color: #ffffff !important; }
    .sidebar .nav > li.open > a {
      background-color: #333e48; }
    .sidebar .nav > li.open > a i.arrow {
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg); }
    .sidebar .nav > li > a i {
      margin-right: 5px;
      font-size: 16px; }
      .sidebar .nav > li > a i.arrow {
        float: right;
        font-size: 20px;
        line-height: initial;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease; }
        .sidebar .nav > li > a i.arrow:before {
          content: "\f105" !important; }
    .sidebar .nav > li > ul > li a {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      background-color: #333e48; }
    .sidebar .nav > li > ul > li.active a {
      color: #ffffff; }

.sidebar-overlay {
  position: absolute;
  display: none;
  left: 200vw;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
          transition: opacity 0.3s ease;
  z-index: 15; }
  @media (max-width: 991px) {
    .sidebar-overlay {
      display: block; } }
  @media (max-width: 767px) {
    .sidebar-overlay {
      background-color: rgba(0, 0, 0, 0.7); } }
  @media (max-width: 991px) {
    .sidebar-open .sidebar-overlay {
      left: 0;
      opacity: 1; } }

.sidebar-header .brand {
  color: #fff;
  text-align: left;
  padding-left: 25px;
  line-height: 70px;
  font-size: 16px; }
  @media (max-width: 767px) {
    .sidebar-header .brand {
      line-height: 50px;
      font-size: 16px; } }