<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                BUCKET-LIST
            </div>
        </div>

        <nav class="menu">
            <ul class="nav metismenu" id="sidebar-menu">
                <li>
                    <a href="#"> <i class="fa fa-home"></i> Dashboard </a>
                </li>
                <li class="active open">
                    <a href="">
                        <i class="fa fa-th-large"></i>
                        Bucket Manager
                        <i class="fa arrow"></i> </a>
                    <ul>
                        <li>
                            <a href="#">
                                Add Bucket
                            </a>
                        </li>

                        <li class="active">
                            <a href="#">
                                View Buckets
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>