<aside class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-header">
            <div class="brand">
                BUCKET-LIST
            </div>
        </div>

        <nav class="menu">
            <ul class="nav metismenu" id="sidebar-menu">
                <li>
                    <a href="#"> <i class="fa fa-home"></i> Dashboard </a>
                </li>

                <li>
                    <a href="#"> <i class="fa fa-home"></i> Add Bucket </a>
                </li>

                <li>
                    <a href="#"> <i class="fa fa-home"></i> View Buckets </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>