<!doctype html>
<html class="no-js" lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Bucket-list | {{page}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/animate/vendor.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.css') }}">
        {% block styles %}{% endblock %}
    </head>

    <body>
        <div class="main-wrapper">
            <div class="app" id="app">
                <header class="header">
                    <div class="header-block header-block-collapse hidden-lg-up">
                        <button class="collapse-btn" id="sidebar-collapse-btn">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>

                    <div class="header-block header-block-buttons">
                        <a href="https://github.com/ridgekimani/bucket_list" class="btn btn-sm header-btn"> <i class="fa fa-github-alt"></i> <span>View on GitHub</span> </a>
                    </div>

                    <div class="header-block header-block-nav">
                        <ul class="nav-profile">
                            <li class="profile dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                    <div class="img" style="background-image: url('https://avatars3.githubusercontent.com/u/3959008?v=3&s=40')">
                                    </div>
                                    <span class="name">{{username}}</span>
                                </a>
                                <div class="dropdown-menu profile-dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <a class="dropdown-item" href="#"> <i class="fa fa-user icon"></i> Profile </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ url_for('logout') }}"> <i class="fa fa-power-off icon"></i> Logout </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </header>
                {% include 'sidebar.html' %}
                <div class="sidebar-overlay" id="sidebar-overlay"></div>
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <script src="{{ url_for('static', filename='plugins/animate/vendor.js')}}"></script>
        <script src="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.common.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/sweetalert2/sweetalert2.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js')}}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>